@import "tailwindcss";

@font-face {
  font-family: "ShantellSans";
  src: url("./assets/fonts/ShantellSans-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "ShantellSans Italic";
  src: url("./assets/fonts/ShantellSans-Italic.ttf") format("truetype");
}

@theme {
  --font-writing-italic:
    "ShantellSans Italic", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  font-family: "ShantellSans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
